.face-radio--themes-red.face-radio:hover .face-radio-switch-icon {
  border-color: #d2143c;
  box-shadow: inset 0 1px 1px rgba(210, 20, 60, 0.2);
}
.face-radio--themes-red.face-radio--checked:hover .face-radio-switch-icon,
.face-radio--themes-red.face-radio--checked .face-radio-switch-icon {
  background-color: #d2143c;
  border-color: #d2143c;
}
.face-radio--themes-red.face-radio--focus:hover .face-radio-switch-icon,
.face-radio--themes-red.face-radio--focus.face-radio--checked:hover .face-radio-switch-icon,
.face-radio--themes-red.face-radio--focus .face-radio-switch-icon,
.face-radio--themes-red.face-radio--focus.face-radio--checked .face-radio-switch-icon {
  box-shadow: 0 0 0 0.125em rgba(210, 20, 60, 0.2);
}
