/* themes green (start) */
/* themes green (end) */
/* themes green (start) */
.myradio--themes-green:hover .myradio-switch-icon {
  border-color: #50d614;
  box-shadow: inset 0 1px 1px rgba(80, 214, 20, 0.2);
}
.myradio--themes-green.myradio--checked .myradio-switch-icon {
  background-color: #50d614;
  border-color: #50d614;
}
.myradio--themes-green.myradio--focus:hover .myradio-switch-icon,
.myradio--themes-green.myradio--focus.myradio--checked:hover .myradio-switch-icon,
.myradio--themes-green.myradio--focus .myradio-switch-icon,
.myradio--themes-green.myradio--focus.myradio--checked .myradio-switch-icon {
  box-shadow: 0 0 0 0.125em rgba(80, 214, 20, 0.2);
}
/* themes green (end) */
