/* themes green (start) */
/* themes green (end) */
.myradio {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  position: relative;
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  -ms-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
}
.myradio:hover .myradio-switch-icon {
  border-color: #2d8cf0;
  box-shadow: inset 0 1px 1px rgba(45, 140, 240, 0.2);
}
.myradio-switch {
  width: 1em;
  height: 1em;
  display: inline-block;
  vertical-align: middle;
  margin-right: .1875em;
  margin-left: .1875em;
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  -ms-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
}
.myradio-switch-icon {
  box-sizing: border-box;
  display: block;
  border: 1px solid #cccccc;
  border-radius: 50%;
  box-shadow: inset 0px 1px 1px #eeeeee;
  width: 100%;
  position: relative;
  height: 100%;
  text-align: center;
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  -ms-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
}
.myradio-switch-icon:before {
  display: inline-block;
  content: ' ';
  position: absolute;
  background-color: #ffffff;
  height: 0.25em;
  width: 0.25em;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 50%;
  margin: auto;
  -webkit-transform: scale(0.01);
  -moz-transform: scale(0.01);
  -o-transform: scale(0.01);
  transform: scale(0.01);
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transform-origin: center;
  /* Safari å’Œ Chrome */
  -moz-transform-origin: center;
  /* Firefox 4 */
  -o-transform-origin: center;
  /* Opera */
  transform-origin: center;
}
.myradio-switch-input {
  opacity: 0;
  filter: alpha(opacity=0);
  position: absolute;
  cursor: inherit;
  margin: 0;
  border: 0;
  padding: 0;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}
.myradio-label {
  font-size: 1em;
  line-height: 1.875em;
  padding-right: .3125em;
  display: inline-block;
  vertical-align: middle;
  color: rgba(0, 0, 0, 0.65);
  cursor: inherit;
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  -ms-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
}
.myradioGroup {
  display: flex;
  display: inline-flex;
  vertical-align: middle;
  white-space: nowrap;
}
.myradioGroup + .myradioGroup {
  margin-left: .625em;
}
.myradioGroup .myradio:not(:first-child) {
  margin-left: .625em;
}
.myradioGroup .myradio-label {
  padding-right: 0;
}
.myradioGroup--hideicon .myradio-switch {
  display: none;
}
.myradioGroup--border .myradio-switch {
  margin: 0;
  padding-top: .375em;
  padding-bottom: .375em;
}
.myradioGroup--border .myradio-label {
  line-height: 1.8em;
}
.myradioGroup--border .myradio {
  display: inline-block;
  border: 1px solid #d9d9d9;
  padding-left: 0.625em;
  padding-right: 0.625em;
  border-radius: 0;
}
.myradioGroup--border .myradio:first-child {
  border-radius: .18em 0 0 .18em;
}
.myradioGroup--border .myradio:last-child {
  border-radius: 0 .18em .18em 0;
}
.myradioGroup--border .myradio:not(:first-child) {
  margin: 0 0 0 -1px;
}
.myradioGroup--border .myradio:hover .myradio-label {
  color: #2d8cf0;
}
.myradioGroup--separate .myradio,
.myradioGroup--separate .myradio:first-child,
.myradioGroup--separate .myradio:last-child {
  border-radius: .18em;
}
.myradioGroup--separate .myradio:not(:first-child) {
  margin-left: .625em;
}
.myradioGroup--horiz {
  display: inline-grid;
}
.myradioGroup--horiz .myradio:first-child {
  border-radius: .18em .18em 0 0;
}
.myradioGroup--horiz .myradio:last-child {
  border-radius: 0 0 .18em .18em;
}
.myradioGroup--horiz .myradio:not(:first-child) {
  margin: -1px 0 0 0;
}
.myradioGroup--separate.myradioGroup--horiz .myradio:first-child,
.myradioGroup--separate.myradioGroup--horiz .myradio:last-child,
.myradioGroup--separate.myradioGroup--horiz .myradio:not(:first-child) {
  border-radius: .18em;
}
.myradioGroup--separate.myradioGroup--horiz .myradio:not(:first-child) {
  margin: .625em 0 0 0 ;
}
/* themes green (start) */
.myradio--themes-green:hover .myradio-switch-icon {
  border-color: #50d614;
  box-shadow: inset 0 1px 1px rgba(80, 214, 20, 0.2);
}
.myradio--themes-green.myradio--checked .myradio-switch-icon {
  background-color: #50d614;
  border-color: #50d614;
}
.myradio--themes-green.myradio--focus:hover .myradio-switch-icon,
.myradio--themes-green.myradio--focus.myradio--checked:hover .myradio-switch-icon,
.myradio--themes-green.myradio--focus .myradio-switch-icon,
.myradio--themes-green.myradio--focus.myradio--checked .myradio-switch-icon {
  box-shadow: 0 0 0 0.125em rgba(80, 214, 20, 0.2);
}
/* themes green (end) */
.myradio--checked .myradio-switch-icon {
  background-color: #2d8cf0;
  border-color: #2d8cf0;
  box-shadow: none;
}
.myradio--checked .myradio-switch-icon:before {
  filter: alpha(opacity=100);
  opacity: 1;
  transform: scale(1);
}
@-webkit-keyframes checkedAnimate {
  0% {
    opacity: 1;
  }
  30% {
    transform: scale(0.01);
    opacity: 0;
  }
  31% {
    transform: scale(0.01);
    opacity: 0;
    height: 0.25em;
    width: 0.25em;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 50%;
    margin: auto;
  }
  60% {
    transform: scale(1.6);
    opacity: 0.5;
    height: 0.25em;
    width: 0.25em;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 50%;
    margin: auto;
  }
  100% {
    transform: scale(1);
    opacity: 1;
    height: 0.25em;
    width: 0.25em;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 50%;
    margin: auto;
  }
}
@keyframes checkedAnimate {
  0% {
    opacity: 1;
  }
  30% {
    transform: scale(0.01);
    opacity: 0;
  }
  31% {
    transform: scale(0.01);
    opacity: 0;
    height: 0.25em;
    width: 0.25em;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 50%;
    margin: auto;
  }
  60% {
    transform: scale(1.6);
    opacity: 0.5;
    height: 0.25em;
    width: 0.25em;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 50%;
    margin: auto;
  }
  100% {
    transform: scale(1);
    opacity: 1;
    height: 0.25em;
    width: 0.25em;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 50%;
    margin: auto;
  }
}
.myradio--focus.myradio--checked .myradio-switch-icon:before {
  -webkit-animation: checkedAnimate 0.36s ease-in-out;
  animation: checkedAnimate 0.36s ease-in-out;
}
.myradio--focus:hover .myradio-switch-icon,
.myradio--focus.myradio--checked:hover .myradio-switch-icon,
.myradio--focus .myradio-switch-icon,
.myradio--focus.myradio--checked .myradio-switch-icon {
  box-shadow: 0 0 0 0.125em rgba(45, 140, 240, 0.2);
}
.myradio--disabled,
.myradio--disabled.myradio--checked {
  cursor: not-allowed;
}
.myradio--disabled:hover .myradio-switch-icon,
.myradio--disabled.myradio--checked:hover .myradio-switch-icon,
.myradio--disabled .myradio-switch-icon,
.myradio--disabled.myradio--checked .myradio-switch-icon {
  border-color: #cccccc;
  background-color: #eeeeee;
  box-shadow: inset 0px 1px 1px #DEDEDE;
}
.myradio--disabled:hover .myradio-switch-icon:before,
.myradio--disabled.myradio--checked:hover .myradio-switch-icon:before,
.myradio--disabled .myradio-switch-icon:before,
.myradio--disabled.myradio--checked .myradio-switch-icon:before {
  background-color: #aaaaaa;
}
.myradio--disabled .myradio-label,
.myradio--disabled.myradio--checked .myradio-label {
  color: rgba(0, 0, 0, 0.45);
}
.myradioGroup--border .myradio--checked {
  z-index: 1;
  border-color: #2d8cf0;
}
.myradioGroup--border .myradio--checked .myradio-label {
  color: #2d8cf0;
}
.myradioGroup--border .myradio--focus,
.myradioGroup--border .myradio--focus.myradio--checked {
  box-shadow: 0 0 0 0.125em rgba(45, 140, 240, 0.2);
}
.myradioGroup--border .myradio--focus:hover .myradio-switch-icon,
.myradioGroup--border .myradio--focus.myradio--checked:hover .myradio-switch-icon,
.myradioGroup--border .myradio--focus .myradio-switch-icon,
.myradioGroup--border .myradio--focus.myradio--checked .myradio-switch-icon {
  box-shadow: none;
}
.myradioGroup--border .myradio--disabled.myradio--checked {
  background-color: #eeeeee;
}
.myradioGroup--border .myradio--disabled,
.myradioGroup--border .myradio--disabled.myradio--checked {
  z-index: 0;
  border-color: #cccccc;
}
.myradioGroup--border .myradio--disabled:hover .myradio-label,
.myradioGroup--border .myradio--disabled.myradio--checked:hover .myradio-label,
.myradioGroup--border .myradio--disabled .myradio-label,
.myradioGroup--border .myradio--disabled.myradio--checked .myradio-label {
  color: rgba(0, 0, 0, 0.45);
}
